[
  {n2o, [{port,4023},{websocket_port,443},
        {app,ublog},
        {ttl, 86400},
        {appurl, <<"https://yourblog.win/">>},
        %{upload,"./apps/ublog/priv/static/"},
        {upload,"/var/www/yourblog/uploads/"},
        {mode,dev},
        {route,routes},
        {mq,n2o_mq},
        {formatter,bert},
        %{minify,{"apps/ublog/priv/static",
        %        ["deps/n2o/priv/bullet.js",
        %         "deps/n2o/priv/n2o.js",
        %         "deps/n2o/priv/ftp.js",
        %         "deps/n2o/priv/protocols/bert.js",
        %         "deps/n2o/priv/protocols/nitrogen.js",
        %         "deps/n2o/priv/utf8.js",
        %         "deps/n2o/priv/validation.js"]}},
        {log_modules,config},
        {log_level,config},
        {log_backend,n2o_log},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]},
  {epgsql_pool,
        [{connection_timeout, 10000},
        {query_timeout, 3000},
        {transaction_timeout, 10000} ]}
].
