<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="robots" content="index,follow">
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/prettify.css">
<link rel="stylesheet" type="text/css" href="/css/ublog.css">
</head>
<body>
<div class="row cont">
{{header}}

<div class="row middle">
  <div class="column left">
  {{tags_cloud}}
  </div>
  <div class="column right">
  {{posts}}
  <div class="main_pagination">{{pagination}}</div>
  </div>
</div>

<script defer="defer" src="/js/for_post_pages.js"></script>
<script>
var gpr = document.createElement('script');
gpr.src = "/js/prettify.js";
document.body.appendChild(gpr);
gpr.addEventListener("load", function(){
  PR.prettyPrint();
});
</script>

<div class="footer">
<span>2015-2018 &copy;</span>
</div>

</div>
</body>
</html>
